<!-- ini adalah header dari website -->
<app-header></app-header>
<br>
<br>
<br>
<div style="text-align: center">
  <!-- ini adalah body dari website -->
  <router-outlet></router-outlet>
</div>






<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!

    Outputnya binding
    Hey {{ nama }}
  </h1>
  Ini adalah Binding
  <input type="text" [(ngModel)]="nama" /><br>
  Ini dari teman commponen.ts-->
<!-- <app-teman></app-teman>
</div> -->
